html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
}

.App {
  text-align: center;
}

.st001 {
  /*margin: 0 auto;*/
  margin-left: 66%;
  margin-top: 20px;
  width: 320px;
  padding: 1rem;
  /*border: 2px solid #000238;*/
  border-radius: 15px;
  text-align: center;
  /*background: #95deff;*/
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);  
}

.st002 {
  /*background: #ECECEC;*/
  padding: 30px;
}

.st003 {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}

.st004 {
  text-align: center;
  padding-bottom: 15px;
}

.st005{
  background-color:rgba(0, 0, 0, 0);
}

.border-0 {
  border: 0;
}

.padding-20px {
  padding: 20px;
}

.backgroung-001529 {
  background: #001529;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dbfb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-white{
  color: white;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.color-white {
  color: white;
}

.footer { 
  position: absolute;
  bottom: 0;
  width: 100%;
}

.boxshadow-001 {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.boxshadow-002 {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.textshadow-001{
  text-shadow: 2px 2px 6px rgba(150, 150, 150, 1);
}

.textshadow-002{
  text-shadow: 1px 1px 2px rgba(11, 23, 25, 1);
}

.inline {
  display: inline;
}

.paddin-left-right-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.text-muted {
  color: #777;
}

.margin-top-001 {
  margin-top: -40px;
}

.margin-bottom-1em{
  margin-bottom: 1em;
}

.margin-left-10px {
  margin-left: -10px;
  padding-bottom: 5px;
}

.float-right {
  float: right;
}

.display-001 {
  display: none;
  margin-right: -20px;
}

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }

  .display-001 {
    display: inline-block;
  }

  .st001 {
    margin: 0 auto; 
  }

}


@media (max-width: 1000px) {
  .st001 {
    margin: 0 auto;
    margin-top: 50px;
  }

}